{{ define "index" }}

{{ template "header" }}

<main class="px-3">
    <h1 class="cover-heading">Main Menu</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo quasi quibusdam labore est, aperiam odit perspiciatis, officiis ipsam vero illum? Cupiditate pariatur culpa ullam eveniet officiis voluptatibus quis placeat.</p>
    
    <form action="/search/" method="post">
        <input type="text" name="query" id="query" placeholder="Search" class="form-control">
        <button id="click" class="btn btn-warning">Search</button>
    </form>


    <div class="" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        {{ range . }}
        <div class="alert alert-light" style="width: 49%;">
            <h2>{{ .Title }}</h2>
            <p>{{ .Price }}tg</p>
            <a href="/post/{{ .Id }}" class="btn btn-primary">Read more</a>
        </div>
        {{ else }}
            <p class="lead">No items</p>
        {{ end }}
    </div>

    <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
</main>

{{ template "footer" }}

{{ end }}