{{ define "create" }}

{{ template "header" }}

<main class="px-3">
    <h1 class="cover-heading">Adding item</h1>
    <form action="/save_article/" method="post">
        <input type="text" name="title" id="title" placeholder="Name of item" class="form-control"><br>
        <textarea name="anons" id="anons" cols="30" rows="10" class="form-control" placeholder="About item"></textarea><br>
        <input type="text" name="price" id="price" placeholder="Price of item" class="form-control"><br>
        <button class="btn btn-warning">Add</button>
    </form>
</main>

{{ template "footer" }}

{{ end }}